<%- include('partials/header') %>




<div style="font-family: 'Poppins',sans-serif; align-items:center;"  class="jumbotron  text-center" style="background-color: burlywood;">
    <div class="container">
      <h1  style="text-align: center;">Ouch!, User already exists. Login or Use different mail id </h1>
     <a   href="/login"><button style="margin-top: 25px;" class = "btn btn-dark btn-lg" type = "submit">Back to login</button></a>
      <hr>
    </div>
</div>


















<%- include('partials/footer') %>